<div class="center ph3 ph0-ns w-80-ns">
  <h1>Welcome#home</h1>
  <p>Find me in app/views/welcome/home.html.erb</p>
  <p>My grid system:</p>
  <div class="container">
    <div class="w-50-ns w-33-m w-25-l fl-ns pa1">hello</div>  
    <div class="w-50-ns w-33-m w-25-l fl-ns pa1">hello</div>  
    <div class="w-50-ns w-33-m w-25-l fl-ns pa1">hello</div>  
    <div class="w-50-ns w-33-m w-25-l fl-ns pa1">hello</div>  
    <div class="w-50-ns w-33-m w-25-l fl-ns pa1">hello</div>  
    <div class="w-50-ns w-33-m w-25-l fl-ns pa1">hello</div>  
    <div class="w-50-ns w-33-m w-25-l fl-ns pa1">hello</div>  
    <div class="w-50-ns w-33-m w-25-l fl-ns pa1">hello</div>  
    <div class="w-50-ns w-33-m w-25-l fl-ns pa1">hello</div>  
    <div class="w-50-ns w-33-m w-25-l fl-ns pa1">hello</div>  
    <div class="w-50-ns w-33-m w-25-l fl-ns pa1">hello</div>  
    <div class="w-50-ns w-33-m w-25-l fl-ns pa1">hello</div>  
  </div>
</div>