// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container div {
    height: 100px;
    background: red;
}

.icon {
    position: relative;
    top: -0.2em;
}

@media screen and (max-width: 48em) {
   .responsive .dn {
        display: block;
        margin-bottom: 1em;
        margin-top: 1em;
    } 
}

.primary-color, .focus-primary-color:focus, .hover-primary-color:hover { color: blue; }
.bg-primary-color, .bg-focus-primary-color:focus, .bg-hover-primary-color:hover { background-color: blue; }
.b--primary-color { border-color: blue; }
.focus-primary-color:focus { color: blue; } 
.bg-focus-primary-color:focus { background-color: blue; }
.hover-primary-color:hover { color: blue; }
.bg-hover-primary-color:hover { background-color: blue; }