<div class="bb b--black bg-light-gray">
  <nav class="navbar db dt-ns center ph3 ph0-ns w-80-ns border-box pt3 pb1 pb3-ns ph0">
    <a class="link dib dtc-ns fl fn-ns v-mid-ns w-50 w-25-ns mb2 mb0-ns tl mid-gray dim" href="#" title="Home">
      Home
    </a>
    <div class="dib dtc-ns v-mid-ns w-50 w-75-ns tr">
      <a class="icon link db dn-ns ml3 mb3 f5 dim dark-gray" href="#" onclick="showMobileNav()">☰</a>
      <a class="link dn dib-ns ml3 ml4-ns f4 f5-ns dim dark-gray" href="#" title="Home">Home</a>
      <a class="link dn dib-ns ml3 ml4-ns f4 f5-ns dim dark-gray" href="#" title="How it Works">How it Works</a>
      <a class="link dn dib-ns ml3 ml4-ns f4 f5-ns dim dark-gray" href="#" title="Blog">Blog</a>
      <a class="link dn dib-ns ml3 ml4-ns f4 f5-ns dim dark-gray" href="#" title="Press">Press</a>
      <a class="link dn dib-ns ml3 ml4-ns f4 f5-ns dim dark-gray" href="#" title="Contact">Contact</a>
    </div>
  </nav>  
</div>
