<div class="bb b--black bg-blue">
  <nav class="navbar db cf center ph3 ph0-ns w-80-ns border-box pt3 pb1 pb3-ns ph0">
    <a class="link db fl fn-ns w-50 w-25-ns mb2 mb0-ns tl h1 f4 f5-ns white hover-lime" href="#" title="Home">
      Home
    </a>
    <div class="db fr w-50 w-75-ns tr">
      <a class="icon link db dn-ns ml3 mb3 f4 h1 b white hover-lime" href="#" onclick="showMobileNav()">☰</a>
      <a class="link dn dib-ns mv1 mv0-ns ml3 ml4-ns f4 f5-ns white hover-lime" href="#" title="How it Works">How it Works</a>
      <a class="link dn dib-ns mv1 mv0-ns ml3 ml4-ns f4 f5-ns white hover-lime" href="#" title="Blog">Blog</a>
      <a class="link dn dib-ns mv1 mv0-ns ml3 ml4-ns f4 f5-ns white hover-lime" href="#" title="Press">Press</a>
      <a class="link dn dib-ns mv1 mv0-ns ml3 ml4-ns f4 f5-ns white hover-lime" href="#" title="Contact">Contact</a>
    </div>
  </nav>  
</div>
